* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

header {
    background-color: #2c3e50;
    color: #fff;
    padding: 20px;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

form {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    margin-top: 20px;
}

.container {
    display: flex;
}

label {
    margin-bottom: 5px;
}

.inputs {
    width: 30%;
    margin-right: 20px;
}

input[type="number"],
input[type="time"] {
    padding: 10px;
    margin-bottom: 10px;
}

input[type="submit"] {
    padding: 10px;
    background-color: #2c3e50;
    color: #fff;
    border: none;
    cursor: pointer;
}

h2 {
    margin-bottom: 10px;
}

ul li {
    padding: 10px;
    margin-bottom: 5px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    list-style: none;
}

footer {
    background-color: #2c3e50;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.history {
    width: 70%;
    margin-top: -20px;
}

.history h2 {
    margin-top: 0;
}

.history ul {
    list-style: 0;
    padding: 0;
}

.history li {
    margin-bottom: 10px;
}

@media screen and (max-width: 600px) {
    form {
        width: 100%;
    }
    h1 {
        font-size: 48px;
    }
    #history {
        margin-top: 50px;
    }
}

.form-group {
    margin: 10px 0;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="number"],
select {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    padding: 10px;
    width: 100%;
}

button {
    background-color: #4CAF50;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    padding: 10px 20px;
}

button:hover {
    background-color: #3e8e41;
}

#result {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}

.profile {
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
}

.profile span {
    color: rgb(237, 138, 24);
}